


.ccm-itemverwaltung > .items{
    margin-right: 5%;
    margin-left: 5%;
    margin-top:1%;
    background-color: #2CA4E8;

    padding: 0.5em;
    border-style: solid;
    border-color: #2CA4E8;
    border-width: 30px;
    border-radius: 2em;
    width: 80%;

}

.ccm-itemverwaltung > .items > div >.name{
    background-color: darkorange;
    padding: 6px;
}
.ccm-itemverwaltung > .items > div >.nummer{
    background-color: red;
    padding: 6px;
}


.ccm-itemverwaltung > .items > div >.text{
    background-color: darkorchid;
    padding: 6px;
}

.ccm-itemverwaltung > .items > div >.datum{
    background-color: #D2FF7C;
    padding: 6px;
}
.ccm-itemverwaltung > .items > div >.erstdatum{
    background-color: #60FF63;
    padding: 6px;

}

.ccm-itemverwaltung >.items > .item {
    margin: 5%;

    border-width: 20px;
    border-color: #D2FF7C;
    border-radius: 1em;
    border-style: solid;
    text-align: center;
    vertical-align: middle;

}
.ccm-itemverwaltung > .items > div >.name:hover{
    background-color: white;
}
.ccm-itemverwaltung > .items > div >.nummer:hover{
    background-color: white;
    width: 20 px;
}


.ccm-itemverwaltung > .items > div >.text:hover{
    background-color: white;
}

.ccm-itemverwaltung > .items > div >.datum:hover{
    background-color: white;
}
.ccm-itemverwaltung > .items > div >.erstdatum:hover{
    background-color: white;
}

.ccm-itemverwaltung > div > div >div >form {
    margin-left: 10%;
    margin-right: 10%;
    border-width:20px;

}


.ccm-itemverwaltung > div > div >div >form >.button{
    background-color: white;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    margin:4%;


}
.ccm-itemverwaltung > div > div >div >form >.button:hover{
    background-color: #2CA4E8;
    color: white;
    border-color:#2CA4E8;


}
.ccm-itemverwaltung > div > div >div >form >.neuesItem{
    margin: 3%;
    border-style: solid;
    border-width: 7px;
    border-radius: 10px;
    border-color:white;
}

.ccm-itemverwaltung > div > div >div >form >.datapicker{
    margin: 3%;
    border-style: solid;
    border-width: 7px;
    border-radius: 10px;
    border-color:white;
}
.ccm-itemverwaltung > div > div >div >form >.neuesItem:hover{
    background-color: #2CA4E8;
    color: white;
    border-color:#2CA4E8;

}

.ccm-itemverwaltung > div > div >div >form >.datumi:hover{
    background-color: #2CA4E8;
    color: white;
    border-color:#2CA4E8;




}


.fa-close{
  color: red;
  margin-left: 90%;
  font-size: 15px;
  background-color: none;

}
.fa-close:hover{
  color: white;
  background-color:red;
}

.fa-arrow-up{
  color: blue;


}
.fa-arrow-up:hover{
  color: white;


}

.e{
  background-color: blue;
  width: 100%;
  height: 20%;
}
/*
.bild{
  position: absolute;
  left: 1%;
  top: 1%;
  width: 250px;
  height: 250px;
}*/

.ccm-itemverwaltung > .items > div {
    background-color: #D2FF7C;
    padding: 6px;
    border-width: 10px;
    border-color:#D2FF7C;
    border-radius:10px;

}
